* {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(134,134,134,1) 20%, rgba(241,242,242,1) 66%);
    margin: 0;
    padding: 0px 30px;
}

.divider1 {
    background-color: white;
    margin: 60px auto;
    height: 499px;
    min-width: 400px;
    max-width: 1100px;
    border-radius: 60px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.divider2 {
    background-color: white;
    margin: 0px auto 60px;
    height: 700px;
    min-width: 400px;
    max-width: 1100px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.3);
}

img {
    display: block;
    margin: auto;
    max-width: 400px;
    padding-top: 20px;
}

ul {
    min-width: 400px;
    max-width: 1100px;
    margin: 31px auto;
    box-sizing: border-box;
    
    padding: 0px;
    overflow: hidden;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    
}

ul li {
    display: flex;
    background-color: #2b2b2b2b;
    margin: 1px;
    padding: 32px;
    
    justify-content: center;
}



ul li span:nth-child(1){
    width: 30px;

}

ul li:hover {
    transform: scale(1.06);
    background: #6d6d6d2b;
    transition: 0.4s;
    cursor: pointer;
}

.divider1:hover {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.6);
    animation: ease-in;
    transition: 0.5s;
}

.divider1:not(:hover) {
    transition: 1s;
    animation: ease-out;
    
}

section .logo {
    font-size: 25px;
}


section {
    
    margin-bottom: 1px;
    min-height: 90px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-bottom: lightgray 2px solid;
    border-top: lightgray 2px solid;
    
}

section:nth-child(5) {
    height: 285px;

}

h1 {
    font-size: 30px;
    font-weight: lighter;
    padding: 30px 35px 10px 35px;
    margin: 20px 0px 20px 0;
    
    
}

section > span.logo{
    padding-right: 10px;
    padding-left: 10px;
}

section > span.text2 {
    font-size: 20px;
    font-weight:600;
    padding-top: 3px;

}

